#inside {
  width: 85%;
  height: 85%;
  background-color: white;
  border-radius: 10px;
}

#outside {
  display: flex; 
  height: 100vh; 
  align-items: center;
  justify-content: center;
  background-color: gray;
}

h1 {
    text-align: left;
    color: blue;
}